//
//// variable.scss
//

$font-black: #000;
$font2: #7D7D7D;
$font-weight: #ffffff;
$bg-black1: #000;
$bg-black2: #303030;
$list-hover-color: blue;
$theme-back1: #F7BA01;
$theme-back2: orangered;


//Background color
$bg-white: #ffffff;
$bg-banner: #f2f2f2;

//border color
$border1 : #f2f2f2;
$border2 : #e2e2e2;

// Header
$header-height: 50px;
$header-bg: #ffffff;
$header-item-color: #555b6d;

// navbar
$navbar-height: 80px;
$header-item-color: #555b6d;

// Footer
//$footer-height: 150px;
//$footer-bg: #f2f2f5;
$footer-bg: #F5F4EE;
$footer-color: #74788d;
$subscribe-button: #fab702;
